



<div class="private-container main-container">
<h1>
  MAIN!
</h1>
<h3>Isn't this weimaraner cute?</h3>
<img class="private-image main-image" src="https://dogtime.com/assets/uploads/2019/02/weimaraner-puppy-11-1280x720.jpg" alt="">

<a class="button is-white is-medium" href="/">Back to Index!</a>
</div>
