<div class="private-container">
<h1>
  Private Area!
</h1>
<h3>Shhhhhh you have enter in a private zone dude!</h3>
<img class="private-image" src="https://media.tenor.com/images/d88a06061e55067100a93d4c5ef0d05b/tenor.gif" alt="">

<a class="button is-white is-medium" href="/">Back to Index!</a>
</div>
